<h1>Upcoming Karaoke Artists</h1>

<main role="main">
  <ul class="entries">
    {{#each entries}}
    <li class="entry">
      <span class="singer">{{this.singer}}</span>
      <span class="song-title">{{this.songTitle}}</span>
      <ul class="entry-links">
        <li class="entry-link"><a href="show-one-entry/{{this.id}}">details</a></li>
        <li class="entry-link"><a href="edit-one-entry-form/{{this.id}}">edit</a></li>
        <li class="entry-link"><a href="delete-entry/{{this.id}}">delete</a></li>
      </ul>
    </li>
    {{/each}}
  </ul>
</main>